.u-visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.u-list-unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

.u-flexbox-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.u-container {
	padding: $spacing*5;
	max-width: 1200px;
	margin: 0 auto;
}